:root {
    --cl-primary: #c4003c;
    --cl-button-darken:#9E030C;
    --cl-rectangle-grey:rgba(208, 208, 208, 0.37);
    --cl-button:#FFFFFF;
    --cl-text-border:#000000;
    
}
*, :after, :before { box-sizing: border-box; }

body{
    font-family: "Poppins",sans-serif;
    font-size: 17px;
}

.banner{
  display: block;
  text-align:center;
}

.banner__title{
    color:var(--cl-primary);
    font-size: 3.5rem;
    font-weight: 300;
    margin-top:20px;
    margin-bottom: 15px;
}

.h1__span{
    text-transform: uppercase;
    font-weight: bold;
}

.banner__subtitle{
  font-size: 1.47em;
  font-weight: normal;
  margin:0;
}

.banner__list, .banner__list2--half{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
}

.banner__item, .banner__item--2{
    display: flex;
    flex-basis: 1 1 100%;

}

.banner__item--2{
    text-align: left;
}

.banner__icon,
.banner__icon2{
    max-width:100%;
    align-self: center;
    margin:0.58rem;
}

.banner__icon2{
   position: relative;
    bottom: 0.3em;
}

.banner__photos{
    border-radius: 1.05em;
}

.banner__photo--family{
    max-width:100%;
    margin: 0 auto;
    height: auto;
    z-index: -1;
}

.banner__photo--hidden,
.banner__photo--hidden2{
    max-width: 100%;
    height: auto;
    z-index: 1;
    display:none;
}

.rectangle__grey, 
.rectangle__grey2{
    text-transform: uppercase;
    color:var(--cl-text-border);
    font-size: 0.30em;
    line-height: 1.11em;
    margin:0;
    background-color: var(--cl-rectangle-grey);
    padding: 0.47em 1.17em;
    text-align: right;
    overflow: hidden;
    box-shadow:0 0 25% rgba(0, 0, 0, 0.1608);
    z-index:-2;
    display:none;
}

.rectangle__grey{
    text-align:right;
    border-top-right-radius:1.05em;
    max-width: 60%;
}

.rectangle__grey2{
    text-align:left;
    border-top-left-radius: 1.05em;
    max-width:88%;
}

.rectangle__red,
.rectangle__red2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cl-primary);
    border-radius:1.05em; 
    z-index: 2; 
    box-shadow:rgba(0, 0, 0, 0.1608);
    padding: 15px;
 }

.rectangle__red--left{
    align-items: center;
    margin-bottom: 1.13em;
}

.rectangle__red--button{
    text-transform: uppercase;
    text-decoration: none;
    color:var(--cl-primary);
    font-size:1em;
    text-align: center;
    border-radius:0.94em;
    background-color:var(--cl-button);
    box-shadow: rgba(0, 0, 0, 0.25);
    padding: 0.58em 0.88em;
    transition: 3s;
}

.rectangle__red--button:hover,
.rectangle__red--button:active{
    background-color:var(--cl-button-darken);
    color: var(--cl-button);
}

.rectangle__red--price,
.rectangle__red--price2{
    font-size: 2rem;
    color:var(--cl-button);
    font-weight: bolder;
    text-shadow: 16%;
    text-decoration-line:rgba(0, 0, 0, 1);
}

.rectangle__red--from{
    font-size: 0.47rem;
    color: var(--cl-button);
}

.rectangle__red--month{
    font-size: 0.58rem;
    text-transform: uppercase;
    position: relative;
    top:-15px;
    color:var(--cl-button);
}

.rectagle__red-nejnet--bold{
    text-transform:uppercase;
    font-weight: bold;
}

.rectangle__red--nej{
    display: relative;
    top: 0.58rem;
    color:var(--cl-button);
    line-height: 1rem;
    font-size:0.82rem;
    line-height:1rem;
    text-align: right;
    display: none;
}

.rectangle__red--right{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/********************800px**********************/
@media screen and (min-width: 800px){
.banner{
    display: flex;
}

.banner__1--left{
    display: flex;
}

.banner--right{
    order: 2;
}

.banner__list{
    flex-wrap: nowrap;
}

.banner__list2{
    flex-wrap: wrap;
}

.banner__list2--half{
    display: flex;
}

.banner__item--2{
    flex: 0 1 50%;
}

rectangle__red--nej{
    display:block;
}
}

/**********1200px************/
@media screen and (min-width: 1200px){   
.banner__photo--hidden, 
.banner__photo--hidden2{
        display:block;
        position:relative;
}

.banner__right2{
    margin-left: 100px;
}

.rectangle__grey,
.rectangle__grey2{
    display:block;
    overflow: hidden;          
    font-size: 0.58rem;
    line-height: 1.11rem;
    padding: 1rem;
    position: relative;
    top:12px;
}

.rectangle__grey{
    left:-2.17rem;
}

.rectangle__grey2{
    left: 2.5rem;
}

.banner__photo--hidden{
    position:relative;
    bottom: 420px;
    left:14.70rem;
}

.banner__photo--hidden2{
 position:relative;
 bottom: 420px;
 right:12.64rem;
}

.rectangle__red{
    margin-right:10.58rem;
    margin:left 1.76rem;
    position:relative;
    right:2.94rem;
}

.rectangle__red2{
    margin: left 8.82rem;
}

.banner__icon,
.banner__icon2{
    margin:0.58rem;
}

.banner__text,
.banner__text2{
    font-size: 0.8rem;
    text-align:left;
}

.rectangle__red--nej{
    display: block;
}

.rectangles2{
    z-index: 2;
    position:relative;
    left:0.05rem;
    top:5.88rem;
}
.rectangles{
    position: relative;
    top:7.05rem;
}

.rectangle__red--button{
    margin-top:1.17rem;
}

.rectangle__red--left{
    padding:1.17rem;
}
}